.heading{
    font-size: 25px;
    width:100%;
    margin: 1px;
    box-shadow: 5px 5px 5px rgb(80, 78, 78);
    background-color: rgb(0, 0, 0) ;
    color: rgb(255, 255, 255) !important;
}

.heading_div{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    float: none;
    border-radius: 15px;
    font-size: 21px;
    box-shadow: 5px 5px 5px rgb(80, 78, 78);
    color: rgb(0, 0, 0);
}

.heading_div2{
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}